@-ms-viewport {
    min-width: 480px auto;
}
@-o-viewport {
    min-width: 480px auto;
}
@viewport {
    min-width: 480px auto;
}

body {
    background: #333 url(images/pattern.gif) repeat;    
    direction: ltr;
    font-family: Verdana, Geneva, sans-serif;
    font-size: small;
    color: white;
}

* table {
    border-collapse:separate;
    empty-cells:hide;
    border-spacing:0px;
    margin: 0px;
    border: 0px;
    padding: 2px;
    font-size: inherit;
    color: inherit;
}

a {
    text-decoration: none;
    color: white;
}

.DockPanel{
    margin-top:0px;
    padding-top:0px;
    background-color: #222;
    border: 0px transparent;
    -moz-border-radius: 8px;
    border-radius: 8px;    
}

.Page{
    width:100%;
}
.PagePanel{
    background-color:#282828;
    border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-right-radius:8px;
    -moz-border-radius-topright:8px;
}
.PageHeader {
    font-weight: bold;
    font-size: medium;
}
.PageHeader-user{
    background: url(images/user.gif) no-repeat 0px 4px;
    text-indent:20px;
    min-width: 16px;
    min-height: 20px;    
    display:block;
}
.PageHeader-channel{
    background: url(images/channel.gif) no-repeat 0px 4px;
    text-indent:20px;
    min-width: 16px;
    min-height: 20px;    
    display:block;
}
.PageHeader-programme{
    background: url(images/programme.gif) no-repeat 0px 4px;
    text-indent:20px;
    min-width: 16px;
    min-height: 20px;
    display:block;
}
.PageHeader-timetable{
    background: url(images/timetable.gif) no-repeat 0px 4px;
    text-indent:20px;
    min-width: 16px;
    min-height: 20px;
    display:block;
}
.PageHeader-playlist{
    background: url(images/playlist.gif) no-repeat 0px 4px;
    text-indent:20px;
    min-width: 16px;
    min-height: 20px;
    display:block;
}
.PageHeader-track{
    background: url(images/track.gif) no-repeat 0px 4px;
    text-indent:20px;
    min-width: 16px;
    min-height: 20px;
    display:block;
}
.PageHeader-journal{
    background: url(images/journal.gif) no-repeat 0px 4px;
    text-indent:20px;
    min-width: 16px;
    min-height: 20px;
    display:block;
}
.PageHeader-archive,
.PageHeader-report{
    background: url(images/archive.gif) no-repeat 0px 4px;
    text-indent:20px;
    min-width: 16px;
    min-height: 20px;
    display:block;
}
.PageHeader-queue{
    background: url(images/queue.gif) no-repeat 0px 4px;
    text-indent:20px;
    min-width: 16px;
    min-height: 20px;
    display:block;
}
.PageHeader-webservice{
    background: url(images/webservice.gif) no-repeat 0px 4px;
    text-indent:20px;
    min-width: 16px;
    min-height: 20px;
    display:block;
}

.PageHeader table{
    width:100%;
}
.PageNavigation {
    background-color: #111;
    width:100%;
}
.PageNavigation table{
    width:100%;
}
.HeaderBox{
    border-bottom: 1px solid #333;    
    background: url(images/marquee.png) no-repeat 4px 0px;
    width: 100%;
    height: 52px;
}
.DockTop{
    width:100%;
}
.DockTop table{
    width:100%;
}
.FooterBox{
    font-size: xx-small;
    color: #999;
    width: 100%;
}
.DockBottom{
    width:100%;
}

.DockBottom table{
    width:100%;
}
.LoggedInBox{
    border: 1px solid #333;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.NotLoggedInBox{
    border: 1px solid #333;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.MenuBox{
    border: 1px solid #333;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.DockLeft{
    height:100%;
}
.DockLeft table{
    width:100%;
}
.DockLeftPart{
    height:100%;
}
.NotificationBox{
}
.NotificationBox .error{
    border: 0px transparent;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: url(images/error.gif) no-repeat 4px 4px;
    min-width: 20px;
    min-height: 20px;
    background-color: #422;
    margin: 4px;
}
.NotificationBox .warning{
    border: 0px transparent;
    -moz-border-radius: 8px;
    border-radius: 8px;    
    background: url(images/warning.gif) no-repeat 4px 4px;
    min-width: 20px;
    min-height: 20px;
    background-color: #442;
    margin: 4px;
}
.NotificationBox .info{
    border: 0px transparent;
    -moz-border-radius: 8px;
    border-radius: 8px;    
    background: url(images/info.gif) no-repeat 4px 4px;
    min-width: 20px;
    min-height: 20px;
    background-color: #224;
    margin: 4px;
}
.NotificationBox .GWTClickableLabel {
    margin-left: 20px;
}
.DockCenter{
    height:100%;
}
.DockCenterPart{
    height:100%;
}


.GWTMenu .GWTClickableLabel {
    margin-left: 20px;
}
.GWTMenu .index{
    background: url(images/index.gif) no-repeat 0px 6px;
    min-width: 16px;
    min-height: 24px;
    display:block;
}
.GWTMenu .user{
    background: url(images/user.gif) no-repeat 0px 6px;
    min-width: 16px;
    min-height: 24px;
    display:block;
}
.GWTMenu .channel{
    background: url(images/channel.gif) no-repeat 0px 6px;
    min-width: 16px;
    min-height: 24px;
    display:block;
}
.GWTMenu .programme{
    background: url(images/programme.gif) no-repeat 0px 6px;
    min-width: 16px;
    min-height: 24px;
    display:block;
}
.GWTMenu .timetable{
    background: url(images/timetable.gif) no-repeat 0px 6px;
    min-width: 16px;
    min-height: 24px;
    display:block;
}
.GWTMenu .playlist{
    background: url(images/playlist.gif) no-repeat 0px 6px;
    min-width: 16px;
    min-height: 24px;
    display:block;
}
.GWTMenu .track{
    background: url(images/track.gif) no-repeat 0px 6px;
    min-width: 16px;
    min-height: 24px;
    display:block;
}
.GWTMenu .journal{
    background: url(images/journal.gif) no-repeat 0px 6px;
    min-width: 16px;
    min-height: 24px;
    display:block;
}
.GWTMenu .archive{
    background: url(images/archive.gif) no-repeat 0px 6px;
    min-width: 16px;
    min-height: 24px;
    display:block;
}
.GWTMenu .queue{
    background: url(images/queue.gif) no-repeat 0px 6px;
    min-width: 16px;
    min-height: 24px;
    display:block;
}
.GWTMenu .webservice{
    background: url(images/webservice.gif) no-repeat 0px 6px;
    min-width: 16px;
    min-height: 24px;
    display:block;
}

.GWTButton {
    margin: 0;
    padding: 3px 5px;
    text-decoration: none;
    font-size: small;
    cursor: pointer;
    border: 1px outset #444;
    background-color: #333;
    color: #fff;
}
.GWTButton:active {
    border: 1px inset #444;
}
.GWTButton:hover {
    border-color: #666;
}
.GWTButton[disabled] {
    cursor: default;
    border-color: #333;
}
.GWTButton[disabled]:hover {
    border: 1px outset #333;
}

.GWTFilterBox{
    background-color: #333;
}

.GWTTableHeader {
    cursor: pointer;
}
.GWTTableHeader-sortDesc {
    background: url("images/down.gif") no-repeat 0px 4px;
    text-indent:14px;
    display:block;
}
.GWTTableHeader-sortAsc {
    background: url("images/up.gif") no-repeat 0px 4px;
    text-indent:14px;
    display:block;
}

.GWTProgressBar {
    display:block;
    background-color: #333;
    width: 240px;
    height: 16px;
}
.GWTProgressBar .gwt-ProgressBar-bar {
    display:block;
    background-color: #777;
}

.GWTHourglass {
    display:block;
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: auto;
    background: url("images/wait.gif") no-repeat 0px 0px;
}
.GWTWorking {
    display:block;
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: auto;
    background: url("images/gear.gif") no-repeat 0px 0px;
}
.GWTUnknown {
    display:block;
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: auto;
    background: url("images/unknown.gif") no-repeat 0px 0px;
}

.GWTFileUploader {
    display:block;
}
.GWTMediaPlayer {
    display:block;
}

.GWTThumbnail {
    max-width: 80px;
    width: auto;
    max-height: 80px;
    height: auto;
    border-style: none;
}
.GWTImage {
    max-width: 200px;
    width: auto;
    max-height: 200px;
    height: auto;	
    border-style: none;
}

.GWTClickableLabel {
    cursor: pointer;
}
.GWTClickableLabel-report {
    background: url("images/report.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-play {
    background: url("images/play.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-upload {
    background: url("images/upload.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-next {
    background: url("images/next.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-previous {
    background: url("images/previous.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-left {
    background: url("images/left.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-right {
    background: url("images/right.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-up {
    background: url("images/up.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-down {
    background: url("images/down.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-first {
    background: url("images/first.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-last {
    background: url("images/last.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-select {
    background: url("images/select.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-add {
    background: url("images/add.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-delete {
    background: url("images/delete.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-edit {
    background: url("images/edit.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-filter {
    background: url("images/filter.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-date {
    background: url("images/date.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-cancel {
    background: url("images/cancel.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-move {
    background: url("images/move.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;    
    display:block;
}
.GWTClickableLabel-request {
    background: url("images/request.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-resize {
    background: url("images/resize.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-reset {
    background: url("images/reset.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-clone {
    background: url("images/clone.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-invert {
    background: url("images/invert.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-unrequest {
    background: url("images/unrequest.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-validate {
    background: url("images/validate.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-reject {
    background: url("images/reject.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-suggest {
    background: url("images/suggest.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}
.GWTClickableLabel-download {
    background: url("images/download.gif") no-repeat 0px 4px;
    text-indent:12px;
    min-width: 8px;
    min-height: 12px;
    display:block;
}

.GWTClickableImage {
    cursor: pointer;
}

.GWTComboBox {
}
.GWTComboBox-readonly {
    color: #888;
}
.GWTComboBox-disabled {
    color: #888;
}

.GWTCheckBox {
}
.GWTCheckBox-readonly {
    color: #888;
}
.GWTCheckBox-disabled {
    color: #888;
}

.GWTDialogBox .Caption {
    padding: 4px 4px 4px 8px;
    cursor: default;
    background-color: #555;
    border-bottom: 1px solid #444;
    border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-right-radius:8px;
    -moz-border-radius-topright:8px;
}
.GWTDialogBox .dialogContent {
    background-color: #555;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius:8px;
    -moz-border-radius-bottomright:8px;
}
.GWTModalBackground {
    background-color: #000;
    opacity: 0.3;
    filter: literal("alpha(opacity=30)");
}

.GWTDisclosurePanel {
}
.GWTDisclosurePanel-open {
    background: url("images/unfolded.gif") no-repeat 0px 6px;
    min-width: 8px;
    min-height: 14px;
}
.GWTDisclosurePanel-closed {
    background: url("images/folded.gif") no-repeat 0px 6px;
    min-width: 8px;
    min-height: 14px;
}
.GWTDisclosurePanel .header,
.GWTDisclosurePanel .header a,
.GWTDisclosurePanel .header td {
    outline: none;
    text-decoration: none;  /* Remove underline from header **/
    cursor: pointer;
    text-indent:8px;
    display:block;  
}
.GWTDisclosurePanel .content {
    border-left: 1px dotted #444;
    padding: 4px 0px 4px 8px;
    margin-left: 6px;
}

.GWTTextArea {
    padding: 2px;
}
.GWTTextArea-readonly {
    color: #888;
}
.GWTTTextArea-disabled {
    color: #888;
}

.GWTPasswordTextBox{

}
.GWTPasswordTextBox .GWTPasswordTextBox-readonly{
    background-color: #333;
    color: #888;
}
.GWTTextBox{

}
.GWTTextBox .GWTTextBox-readonly{
    background-color: #333;
    color: #888;
}

.GWTFormDropDownListBox {
}

.GWTFormCommunicatingDualSelectBoxes {
    background-color: #333;
}
.GWTFormCommunicatingDualSelectBoxes-Left {
    margin: 4px;
}
.GWTFormCommunicatingDualSelectBoxes-Left .GWTFormSelectBox {
    max-width: 240px;
    max-height: 240px;
    min-width: 200px;
    min-height: 200px;
}
.GWTFormCommunicatingDualSelectBoxes-Right {
    margin: 4px;
}
.GWTFormCommunicatingDualSelectBoxes-Right .GWTFormSelectBox {
    max-width: 240px;
    max-height: 240px;
    min-width: 200px;
    min-height: 200px;    
}

.GWTFormSelectBox {
}

.GWTFormTable {
}
.GWTFormTable .odd {
}
.GWTFormTable .evn {
    background-color: #333;
}
.GWTFormTable .heading {
    background-color: #333;
    border-bottom: 1px solid #000;
    padding:5px;
}
.GWTFormTable .cell {
    border-width: 0px 0px 0px 1px;
    border-style: dashed;
    border-color: #444;
}

.GWTFormTable .odd-nowPlaying {
    background-color: #aaa;
    color: #222;
}
.GWTFormTable .evn-nowPlaying {
    background-color: #aaa;
    color: #222;
}
.GWTFormTable .odd-pooled {
    background: url(images/stripe.gif) repeat;
}
.GWTFormTable .evn-pooled {
    background: url(images/stripe.gif) repeat;
    background-color: #333;
}

.GWTPlaylist {
}
.GWTPlaylist .odd {
}
.GWTPlaylist .evn {
    background-color: #333;
}
.GWTPlaylist .heading {
    background-color: #333;
    border-bottom: 1px solid #000;
    padding:5px;
}
.GWTPlaylist .template {
    background-color: #444;
    border: 0px transparent;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.GWTPlaylist .GWTPSlot {
    border-left: 1px dotted #444;    
    border-right: 1px dotted #444;
}
.GWTPlaylist .GWTPSlotEntry {
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.GWTPlaylist .odd .GWTPSlotEntry {
    border: 1px solid #333;
}
.GWTPlaylist .evn .GWTPSlotEntry {
    border: 1px solid #444;
}
.GWTPlaylist .template .GWTPSlotEntry {
    border: 1px solid #333;
}

.GWTFormWeeklyTimetable {
    background-color: #666;
}
.GWTFormWeeklyTimetable .heading {
    background-color: #444;
    border-bottom: 1px solid #000;
    margin-left:4px;
    margin-right:4px;
    text-align:center;
}
.GWTFormWeeklyTimetable .legend {
    background-color: #444;
    border-right: 1px solid #000;
    margin-left:4px;
    margin-right:4px;
    white-space: nowrap;
}
.GWTFormWeeklyTimetable .cell {
    border: 0px transparent;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: x-small;
    width: 100%;
}
.GWTFormWeeklyTimetable .cell .GWTClickableLabel-label {
    font-weight: bold;
    font-size: small;
}
.GWTFormWeeklyTimetable .cell .GWTClickableLabel-subLabel {
    font-style: italic;
    font-size: small;
}
.GWTFormWeeklyTimetable .cell .GWTClickableLabel-start {
    text-align: center;
    font-size: small;
}
.GWTFormWeeklyTimetable .cellDisabled {
    background: url(images/stripe.gif) repeat;
}
.GWTFormWeeklyTimetable .cellOnAir {
    border: 1px dashed red;
}
.GWTFormWeeklyTimetable .cell1 {
    background-color: #544;
}
.GWTFormWeeklyTimetable .cell2 {
    background-color: #454;
}
.GWTFormWeeklyTimetable .cell3 {
    background-color: #445;
}
.GWTFormWeeklyTimetable .cell4 {
    background-color: #554;
}
.GWTFormWeeklyTimetable .cell5 {
    background-color: #455;
}
.GWTFormWeeklyTimetable .cell6 {
    background-color: #545;
}
.GWTFormWeeklyTimetable .cell7 {
    background-color: #344;
}
.GWTFormWeeklyTimetable .cell8 {
    background-color: #434;
}
.GWTFormWeeklyTimetable .cell9 {
    background-color: #443;
}
.GWTFormWeeklyTimetable .cell10 {
    background-color: #344;
}

.GWTTree {
    /*Unfrtunately, GWTTrees are not fully CSS-friendly anymore*/
    text-decoration: none;
}
.GWTTree .GWTTreeItem .GWTTreeItem-Paged {
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    display:block;  
    text-decoration: none;
}
.GWTTree .GWTTreeItem-selected {   
}
.GWTTree-Paged table {
    padding: 0px;
}
.GWTTree-Paged .GWTPagingContainer table {
    padding: 2px;
}

.GWTScrollPanel {
    max-height: 320px;
}

.GWTLabel {
}
.GWTLabel-disabled {
    color: #888;
}
.GWTLabel-warning {
    text-indent: 20px;
    border: 0px transparent;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: url(images/warning.gif) no-repeat 4px 0px;
    min-width: 20px;
    min-height: 16px;
    background-color: #442;
    margin: 4px;
}

.GWTRadioButton {
}
.GWTRadioButton-disabled {
    color: #888;
}

.GWTTabPanel {
    padding-bottom: 0px;
}
.GWTTabPanel .gwt-TabBar .gwt-TabBarFirst {
    width: 5px;  /* first tab distance from the left **/
}
.GWTTabPanel .gwt-TabBar .gwt-TabBarRest {
}
.GWTTabPanel .gwt-TabBar .gwt-TabBarItem {
    margin-left: 6px;
    margin-bottom: 0px;
    padding: 6px;
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: #333;
    border-top-right-radius:8px;
    -moz-border-radius-topright:8px;
}
.GWTTabPanel .gwt-TabBar .gwt-TabBarItem-selected {
    background-color: #555;
}
.GWTTabPanel .gwt-TabBar .gwt-TabBarItem-disabled {
    cursor: default;
    color: #888;
}
.GWTTabPanel .gwt-TabPanelBottom {
    margin-top:0px;
    border-color: #333;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    overflow: hidden;
}

.GWTDatePicker {
    cursor: default;
}
GWTDatePicker td,
.datePickerMonthSelector td:focus {
    outline: none
}
.datePickerDays {
    width: 100%;
    background-color: #555;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
    font-size: 75%;
    text-align: center;
    padding: 4px;
    outline: none;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
    background-color: #444;
    padding: 0px 4px 2px;
    cursor: default;
}
.datePickerDay {
    padding: 4px;
    cursor: pointer;
}
.datePickerDayIsToday {
    border: 1px solid black;
    padding: 3px;
}
.datePickerDayIsWeekend {
    background: #555;
}
.datePickerDayIsFiller {
    color: #888;
}
.datePickerDayIsValue {
    background: #333;
}
.datePickerDayIsDisabled {
    color: #888;
    font-style: italic;
}
.datePickerDayIsHighlighted {
    background: #222;
}
.datePickerDayIsValueAndHighlighted {
    background: #111;
}
.datePickerMonthSelector {
    background: #222;
    width: 100%;
}
td.datePickerMonth {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 70%;
    font-weight: bold;
    color: #fff;
}
.datePickerPreviousButton,
.datePickerNextButton {
    font-size: 120%;
    line-height: 1em;
    color: #fff;
    cursor: pointer;
    padding: 0px 4px;
}

.GWTStatusBox-on {
    background: url(images/on.gif) no-repeat 2px 6px;
    text-indent: 12px;
    min-width: 10px;
    min-height: 14px;
    display:block;
}
.GWTStatusBox-off {
    background: url(images/off.gif) no-repeat 2px 6px;
    text-indent: 12px;
    min-width: 10px;
    min-height: 14px;
    display:block;
}
.GWTStatusBox-reserved {
    background: url(images/init.gif) no-repeat 2px 6px;
    text-indent: 12px;
    min-width: 10px;
    min-height: 14px;
    display:block;
}
.GWTStatusBox-free {
    background: url(images/n_a.gif) no-repeat 2px 6px;
    text-indent: 12px;
    min-width: 10px;
    min-height: 14px;
    display:block;
}
.GWTStatusBox-onair {
    background: url(images/on.gif) no-repeat 2px 6px;
    text-indent: 12px;
    min-width: 10px;
    min-height: 14px;
    display:block;
}
.GWTStatusBox-offair {
    background: url(images/off.gif) no-repeat 2px 6px;
    text-indent: 12px;
    min-width: 10px;
    min-height: 14px;
    display:block;
}
.GWTStatusBox-undefined {
    background: url(images/n_a.gif) no-repeat 2px 6px;
    text-indent: 12px;
    min-width: 10px;
    min-height: 14px;
    display:block;
}

.GWTFloatingBox {
    position: fixed;
    left: 0;
    bottom: 0;
}
.GWTFloatingBox-open .header {
    background: url("images/close.gif") no-repeat center 0px;
    text-indent: -9999px;
    overflow: hidden;    
    height: 8px;
}
.GWTFloatingBox-closed {
    background: url("images/open.gif") no-repeat 8px 8px;
    text-indent: 32px;
    overflow: visible;    
    min-height: 16px;
}
.GWTFloatingBox .header,
.GWTFloatingBox .header a,
.GWTFloatingBox .header td {
    min-width: 32px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    display: block;
}
.GWTFloatingBox .header .gwt-Label {
    white-space: nowrap;
}
.GWTFloatingBox .content {
    margin: 0px;
    padding: 0px;
}
.GWTFloatingBox .content .PagePanel{
    background-color:#000000;
}
.GWTFloatingBox .GWTClickableLabel-trackLabel,
.GWTFloatingBox .GWTLabel-trackLabel {
    font-weight: bold;
    white-space: nowrap;
}

.GWTVerticalPanel-trackInfo .table {
    margin: auto;
}

.GWTHighlightVerticalPanel {
    border: 1px dashed #444;
    -moz-border-radius: 8px;
    border-radius: 8px;
}